.res_a_s.sbd{
    border: 0 none !important;
    left: 77px !important;
    margin-top: 0 !important;
    top: 356px !important;
}
input.inputbox_vm_ajax_search_search_str2{
    float: left;

}
div.ajax_srch {
    overflow: visible !important;
    padding-left: 10px;
    padding-top: 5px;
}
.vm_ajax_search_pretext{float: left;color: #FFF;}
.aj_label_wrapper{left: 15px;float: left;width: 730px;}
div.res_a_s .prow{
    padding: 3px 0 !important;
}
div.res_a_s {
    display: none;
    position: absolute;
    width: 100%;
    float: left;

    background-color: white;
    margin: 0 0 0 0; 
    padding: 0 0 0 0; 
    overflow: none; 
    z-index: 9999999; 
}

div.res_a_s div a{
    color: black !important;
}
div.res_a_s {
    border: 1px #333 solid;
    margin-right: 0;
    margin-left: 0; 
    padding-right: 0; 
    padding-left: 0;
    /*width: 99%;*/
}

input.button_ajax_search {
    float: right !important;
    clear: right;
}

a.product_lnk_ajax_text, a.product_lnk_ajax_text:hover, a.product_lnk_ajax_text:active {
    text-decoration: none !important; 
    background: none; 
    color: black; 
}
div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax:hover, div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax:active, div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax:visited {
    text-decoration: none !important; 
    background: none; 
}
div.res_a_s div.vm_ajax_search_header2 a.product_lnk_ajax {
    float: right !important;
    text-decoration: none; 
    background: none; 
    color:white !important;

}
div.res_a_s div.vm_ajax_search_header2{
    font-weight: bold;
    font-size: 10px;
    background-color: #333;

    color:#ccc;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

div.res_a_s h3{
    color: #000;

    float: left;
    clear: both;
    width: 100%;
}
a.product_lnk_ajax {
    float: left;
}
div.res_a_s span{
    line-height: 100%;
}
div.res_a_s div.vm_ajax_search_row_1{

    background-color: #FFF;
    cursor: hand;

    width: 100%;
    float: left;

}

span.kfc{color: red;}
.search_bt{
    vertical-align: middle;
    /*float: right;*/
    margin-top: -6px;    
}
a.product_lnk_ajax_text{padding: 2px 10px;}
div.prow{padding: 0 10px !important;}
div.res_a_s > div >div{
    padding: 0 10px !important;
}
/*
div.res_a_s div.vm_ajax_search_row_1:hover {
 background-color: #ccc;
}

div.res_a_s div.vm_ajax_search_row_2:hover {
 background-color: #ccc;
}
*/
div.res_a_s div.selectedRow {
    background-color: #ccc !important;

}
div.res_a_s div.vm_ajax_search_row_2{
    cursor: hand;
    /*background-color: #EEE;*/
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

    float: left;
}
div.res_a_s div.vm_ajax_search_row_btm{
    font-weight: bold;
    font-size: 14px;
    background-color: #333;

    float: left;
}

/* postions timer in search box****/
div.vm_ajax_search_timer2 {
    position: absolute; 
    top: 33px; 
    left: 135px;
    width: 16px;
}
/* 3 letter min message****/
span.vm_ajax_search_3letters2 {
    color:red;
}

/**********************/
#mapop {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #90267E;
    left: -67px;
    position: absolute;
    top: 19px;
    width: 1076px;
    z-index: 99;
}
#mapop > div > div{
    width: 14.2859%;
    float: left;    
}
#mapop > * {padding: 0;margin: 0;}
#mapop .mafut{
    color: #90267E;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 5px;  
    float: left;
    position: relative;
    width: 100%;
}
#mapop > div > div.mstitle{ width: 100%;}
#mapop hr{
    float: left;
    height: 1px;
    margin: 0 -10px;
    width: 470px;    
}
.mstitle span{
    margin-left: 5px;
}
.outclick{
    z-index: 100;
    height: 100%;
    top: 0;
    display: block;
    float: left;
    position: absolute;    
}
#mapop .mlist{float: left;width: 100%;padding-bottom: 10px;}
#mapop .blist{
    float: left;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #90267E;    
}
.mark ul{display: none;}
.mark{
    line-height: 20px;
    float: left;
    width: 33.33%;    
}
.mark div{cursor: pointer;}
#mapop ul li ul li{list-style: circle inside none;cursor: pointer;}
#mapop ul li ul{margin-left: 0px; padding-left: 15px;}
#mapop ul li,
#mapop ul{list-style: none inside none;margin: 0;}
#brand {
    text-align: center;
    background: url("arrs.png") no-repeat scroll 94% center #FFFFFF;
    border: 1px solid #CCC;
    color: #333333;
    cursor: pointer;
    float: right;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
    width: 320px;
    z-index: 100;
    border-bottom: 0 !important;
}
.mstitle  span.mar{
    background: url("arrs.png") no-repeat scroll center center #FFFFFF;
    float: left;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 7px;
    margin-left: 15px;
    cursor: pointer;
}
#mapop > div {position: relative;}
#mapop  > span {
    background: url(close.png) no-repeat center center;
    display: block;
    height: 15px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 15px;
    cursor: pointer;
    z-index: 999;
}
.blist > div > div,
.mlist > div > div{
    float: left;
    margin: 0 15px;
    width: 100%;
}
.lbc{
    float: left;
    width: 10%;
    line-height: 20px;
    color: #90267E;
    text-transform: uppercase;
    font-weight: bold;    
}
.gc{
    float: right;
    text-align: left;
    width: 90%; 
    line-height: 20px;

    font-size: 11px;
    color: #777;    
}