@font-face {
    font-family: 'BauhausMedium';
    src: url('../fonts/itc_bauhaus_medium-webfont.eot');
    src: url('../fonts/itc_bauhaus_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/itc_bauhaus_medium-webfont.woff') format('woff'),
        url('../fonts/itc_bauhaus_medium-webfont.ttf') format('truetype'),
        url('../fonts/itc_bauhaus_medium-webfont.svg#BauhausMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ITCAvantGardeGothicStdMedium';
    src: url('../fonts/itcavantgardestd-md-webfont.eot');
    src: url('../fonts/itcavantgardestd-md-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/itcavantgardestd-md-webfont.woff') format('woff'),
        url('../fonts/itcavantgardestd-md-webfont.ttf') format('truetype'),
        url('../fonts/itcavantgardestd-md-webfont.svg#ITCAvantGardeGothicStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Arial, Helvetica , sans-serif;
    font-size: 12px;
    color: #281c20;
    padding: 20px 0 30px 0;
    background: #fbfbfb;     
    margin: 0;
}

IMG {
    border: 0;
}

h1,h2,h3,h4,h5,h6,h7,p,ul,li {
    margin: 0;
    padding: 0;
}

ul,li {
    margin-left: 10px;
    list-style: disc outside none;
}
span.cfi{
    display: block;
    margin-top: 3px;
}
.boxText > span{margin-left:3px;}
.boxText > input,
.boxText > span{
float:left;
}
.floatleft{
    float: left;
}
div.category.floatleft{    
border-top: 4px solid #92278F;
}
.floatright {
    float: right;
}

.clr {
    clear: both;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
#loginview {}
#loginview #remember{margin-left: 2px;}
#loginview ul{margin-left: 30px;margin-top: 10px;}
#loginview fieldset{clear: both;}
#loginview fieldset .login-fields label{
width: 95px;
display: block;
float: left;        
}
#maincontainer {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    background: #FFF;
    border: solid 1px #CFCFD0;
    -moz-box-shadow: 0px 1px 8px #CFCFD0;
    -webkit-box-shadow: 0px 1px 8px #CFCFD0;
    box-shadow: 0px 1px 8px #CFCFD0;        
}

#topsection {
    background: transparent;
    height: auto;
}

#pagewapper {
    background: transparent;
    width: 100%;
}

.innertube-footer {
    padding: 0;
}

#contentwrapper {
    float: left;
    width: 100%;
    background: transparent;
}

#contentcolumn {
    margin: 0;
    height: 100%;
}

#footer {
    clear: left;
    text-align: center;
    margin: 0 auto;
}

.innertube-content {
    /*border: 1px solid #ccc;
    padding: 20px;*/
    margin: 0;
}

.actions{
    display: none;
}

.item-page{
    border: 1px solid #ccc;
    padding: 20px;
}
.item-page table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border:none;
}
table.contentpaneopen,table.blog {
    width: 100%;
}
#rightcolumn-none,#leftcolumn-none {
    display: none;
}

/**************PRODUCT TEMPLATES EDIT*************************/
.boxText.sd{padding-left: 15px;}
.avhead{
    height: 37px;
    background: #92278F;
    color: #FFF;
    font-size: 20px;
    line-height: 37px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}
.avsbt > input{
    background: #92278F;
    color: #FFF;
    border-color: #681C66 !important;
}
.keylable{
    font-weight: bold;
}
.purple{
	color: #800080!important;
	font-weight: bold;
}
    
/***************************************/