@media (min-width: 980px) and (max-width: 1199px) {
  .row {
    margin-left: -10px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 10px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 974px;
  }
  .span12 {
    width: 974px;
  }
  .span11 {
    width: 892px;
  }
  .span10 {
    width: 810px;
  }
  .span9 {
    width: 728px;
  }
  .span8 {
    width: 646px;
  }
  .span7 {
    width: 564px;
  }
  .span6 {
    width: 482px;
  }
  .span5 {
    width: 400px;
  }
  .span4 {
    width: 318px;
  }
  .span3 {
    width: 236px;
  }
  .span2 {
    width: 154px;
  }
  .span1 {
    width: 72px;
  }
  .offset12 {
    margin-left: 994px;
  }
  .offset11 {
    margin-left: 912px;
  }
  .offset10 {
    margin-left: 830px;
  }
  .offset9 {
    margin-left: 748px;
  }
  .offset8 {
    margin-left: 666px;
  }
  .offset7 {
    margin-left: 584px;
  }
  .offset6 {
    margin-left: 502px;
  }
  .offset5 {
    margin-left: 420px;
  }
  .offset4 {
    margin-left: 338px;
  }
  .offset3 {
    margin-left: 256px;
  }
  .offset2 {
    margin-left: 174px;
  }
  .offset1 {
    margin-left: 92px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1.0266940451745%;
    *margin-left: 0.98099020605205%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 1.0266940451745%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.954296160878%;
  }
  .row-fluid .span11 {
    width: 91.581108829569%;
    *width: 91.535404990446%;
  }
  .row-fluid .span10 {
    width: 83.162217659138%;
    *width: 83.116513820015%;
  }
  .row-fluid .span9 {
    width: 74.743326488706%;
    *width: 74.697622649584%;
  }
  .row-fluid .span8 {
    width: 66.324435318275%;
    *width: 66.278731479153%;
  }
  .row-fluid .span7 {
    width: 57.905544147844%;
    *width: 57.859840308721%;
  }
  .row-fluid .span6 {
    width: 49.486652977413%;
    *width: 49.44094913829%;
  }
  .row-fluid .span5 {
    width: 41.067761806982%;
    *width: 41.022057967859%;
  }
  .row-fluid .span4 {
    width: 32.64887063655%;
    *width: 32.603166797428%;
  }
  .row-fluid .span3 {
    width: 24.229979466119%;
    *width: 24.184275626997%;
  }
  .row-fluid .span2 {
    width: 15.811088295688%;
    *width: 15.765384456565%;
  }
  .row-fluid .span1 {
    width: 7.3921971252567%;
    *width: 7.3464932861342%;
  }
  .row-fluid .offset12 {
    margin-left: 102.05338809035%;
    *margin-left: 101.9619804121%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 101.02669404517%;
    *margin-left: 100.93528636693%;
  }
  .row-fluid .offset11 {
    margin-left: 93.634496919918%;
    *margin-left: 93.543089241673%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 92.607802874743%;
    *margin-left: 92.516395196498%;
  }
  .row-fluid .offset10 {
    margin-left: 85.215605749487%;
    *margin-left: 85.124198071242%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 84.188911704312%;
    *margin-left: 84.097504026067%;
  }
  .row-fluid .offset9 {
    margin-left: 76.796714579055%;
    *margin-left: 76.70530690081%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 75.770020533881%;
    *margin-left: 75.678612855636%;
  }
  .row-fluid .offset8 {
    margin-left: 68.377823408624%;
    *margin-left: 68.286415730379%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 67.35112936345%;
    *margin-left: 67.259721685205%;
  }
  .row-fluid .offset7 {
    margin-left: 59.958932238193%;
    *margin-left: 59.867524559948%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 58.932238193018%;
    *margin-left: 58.840830514774%;
  }
  .row-fluid .offset6 {
    margin-left: 51.540041067762%;
    *margin-left: 51.448633389517%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 50.513347022587%;
    *margin-left: 50.421939344342%;
  }
  .row-fluid .offset5 {
    margin-left: 43.121149897331%;
    *margin-left: 43.029742219086%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.094455852156%;
    *margin-left: 42.003048173911%;
  }
  .row-fluid .offset4 {
    margin-left: 34.702258726899%;
    *margin-left: 34.610851048654%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 33.675564681725%;
    *margin-left: 33.58415700348%;
  }
  .row-fluid .offset3 {
    margin-left: 26.283367556468%;
    *margin-left: 26.191959878223%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.256673511294%;
    *margin-left: 25.165265833049%;
  }
  .row-fluid .offset2 {
    margin-left: 17.864476386037%;
    *margin-left: 17.773068707792%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 16.837782340862%;
    *margin-left: 16.746374662617%;
  }
  .row-fluid .offset1 {
    margin-left: 9.4455852156057%;
    *margin-left: 9.3541775373608%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.4188911704312%;
    *margin-left: 8.3274834921862%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 10px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 960px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 878px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 796px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 714px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 632px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 550px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 468px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 386px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 304px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 222px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 140px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 58px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .offset-12 {
    margin-left: -734px;
  }
  .offset-11 {
    margin-left: -672px;
  }
  .offset-10 {
    margin-left: -610px;
  }
  .offset-9 {
    margin-left: -548px;
  }
  .offset-8 {
    margin-left: -486px;
  }
  .offset-7 {
    margin-left: -424px;
  }
  .offset-6 {
    margin-left: -362px;
  }
  .offset-5 {
    margin-left: -300px;
  }
  .offset-4 {
    margin-left: -238px;
  }
  .offset-3 {
    margin-left: -176px;
  }
  .offset-2 {
    margin-left: -114px;
  }
  .offset-1 {
    margin-left: -52px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .offset-12 {
    margin-left: -974px;
  }
  .offset-11 {
    margin-left: -892px;
  }
  .offset-10 {
    margin-left: -810px;
  }
  .offset-9 {
    margin-left: -728px;
  }
  .offset-8 {
    margin-left: -646px;
  }
  .offset-7 {
    margin-left: -564px;
  }
  .offset-6 {
    margin-left: -482px;
  }
  .offset-5 {
    margin-left: -400px;
  }
  .offset-4 {
    margin-left: -318px;
  }
  .offset-3 {
    margin-left: -236px;
  }
  .offset-2 {
    margin-left: -154px;
  }
  .offset-1 {
    margin-left: -72px;
  }
}
@media (min-width: 1200px) {
  .offset-12 {
    margin-left: -1094px;
  }
  .offset-11 {
    margin-left: -1002px;
  }
  .offset-10 {
    margin-left: -910px;
  }
  .offset-9 {
    margin-left: -874px;
  }
  .offset-8 {
    margin-left: -726px;
  }
  .offset-7 {
    margin-left: -634px;
  }
  .offset-6 {
    margin-left: -542px;
  }
  .offset-5 {
    margin-left: -450px;
  }
  .offset-4 {
    margin-left: -358px;
  }
  .offset-3 {
    margin-left: -266px;
  }
  .offset-2 {
    margin-left: -174px;
  }
  .offset-1 {
    margin-left: -82px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .row,
  .row-fluid {
    width: 100%;
    margin-left: 0;
    *zoom: 1;
  }
  .row:before,
  .row:after,
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after,
  .row-fluid:after {
    clear: both;
  }
  .row [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1.3623978201635%;
    *margin-left: 1.316693981041%;
  }
  .row [class*="span"]:first-child:not(.pull-right),
  .row-fluid [class*="span"]:first-child:not(.pull-right) {
    margin-left: 0;
  }
  .row [class*="span"].pull-right:first-child + [class*="span"]:not(.pull-right),
  .row-fluid [class*="span"].pull-right:first-child + [class*="span"]:not(.pull-right) {
    margin-left: 0;
  }
  .row .span12,
  .row-fluid .span12 {
    width: 100%;
    *width: 99.954296160878%;
  }
  .row .span11,
  .row-fluid .span11 {
    width: 91.553133514986%;
    *width: 91.507429675864%;
  }
  .row .span10,
  .row-fluid .span10 {
    width: 83.106267029973%;
    *width: 83.06056319085%;
  }
  .row .span9,
  .row-fluid .span9 {
    width: 74.659400544959%;
    *width: 74.613696705837%;
  }
  .row .span8,
  .row-fluid .span8 {
    width: 66.212534059946%;
    *width: 66.166830220823%;
  }
  .row .span7,
  .row-fluid .span7 {
    width: 57.765667574932%;
    *width: 57.719963735809%;
  }
  .row .span6,
  .row-fluid .span6 {
    width: 49.318801089918%;
    *width: 49.273097250796%;
  }
  .row .span5,
  .row-fluid .span5 {
    width: 40.871934604905%;
    *width: 40.826230765782%;
  }
  .row .span4,
  .row-fluid .span4 {
    width: 32.425068119891%;
    *width: 32.379364280769%;
  }
  .row .span3,
  .row-fluid .span3 {
    width: 23.978201634877%;
    *width: 23.932497795755%;
  }
  .row .span2,
  .row-fluid .span2 {
    width: 15.531335149864%;
    *width: 15.485631310741%;
  }
  .row .span1,
  .row-fluid .span1 {
    width: 7.0844686648501%;
    *width: 7.0387648257277%;
  }
  .span12 .row [class*="span"] {
    margin-left: 1.3623978201635%;
    *margin-left: 1.316693981041%;
  }
  .span12 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span12 .row .span12 {
    width: 100%;
    *width: 99.954296160878%;
  }
  .span12 .row .span11 {
    width: 91.553133514986%;
    *width: 91.507429675864%;
  }
  .span12 .row .span10 {
    width: 83.106267029973%;
    *width: 83.06056319085%;
  }
  .span12 .row .span9 {
    width: 74.659400544959%;
    *width: 74.613696705837%;
  }
  .span12 .row .span8 {
    width: 66.212534059946%;
    *width: 66.166830220823%;
  }
  .span12 .row .span7 {
    width: 57.765667574932%;
    *width: 57.719963735809%;
  }
  .span12 .row .span6 {
    width: 49.318801089918%;
    *width: 49.273097250796%;
  }
  .span12 .row .span5 {
    width: 40.871934604905%;
    *width: 40.826230765782%;
  }
  .span12 .row .span4 {
    width: 32.425068119891%;
    *width: 32.379364280769%;
  }
  .span12 .row .span3 {
    width: 23.978201634877%;
    *width: 23.932497795755%;
  }
  .span12 .row .span2 {
    width: 15.531335149864%;
    *width: 15.485631310741%;
  }
  .span12 .row .span1 {
    width: 7.0844686648501%;
    *width: 7.0387648257276%;
  }
  .span11 .row [class*="span"] {
    margin-left: 1.4880952380952%;
    *margin-left: 1.4423913989728%;
  }
  .span11 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span11 .row .span11 {
    width: 91.553133514986%;
    *width: 91.507429675864%;
  }
  .span11 .row .span10 {
    width: 83.106267029973%;
    *width: 83.06056319085%;
  }
  .span11 .row .span9 {
    width: 74.659400544959%;
    *width: 74.613696705837%;
  }
  .span11 .row .span8 {
    width: 66.212534059946%;
    *width: 66.166830220823%;
  }
  .span11 .row .span7 {
    width: 57.765667574932%;
    *width: 57.719963735809%;
  }
  .span11 .row .span6 {
    width: 49.318801089918%;
    *width: 49.273097250796%;
  }
  .span11 .row .span5 {
    width: 40.871934604905%;
    *width: 40.826230765782%;
  }
  .span11 .row .span4 {
    width: 32.425068119891%;
    *width: 32.379364280769%;
  }
  .span11 .row .span3 {
    width: 23.978201634877%;
    *width: 23.932497795755%;
  }
  .span11 .row .span2 {
    width: 15.531335149864%;
    *width: 15.485631310741%;
  }
  .span11 .row .span1 {
    width: 7.0844686648501%;
    *width: 7.0387648257276%;
  }
  .span10 .row [class*="span"] {
    margin-left: 1.6393442622951%;
    *margin-left: 1.5936404231726%;
  }
  .span10 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span10 .row .span10 {
    width: 90.77380952381%;
    *width: 90.728105684687%;
  }
  .span10 .row .span9 {
    width: 81.547619047619%;
    *width: 81.501915208497%;
  }
  .span10 .row .span8 {
    width: 72.321428571429%;
    *width: 72.275724732306%;
  }
  .span10 .row .span7 {
    width: 63.095238095238%;
    *width: 63.049534256116%;
  }
  .span10 .row .span6 {
    width: 53.869047619048%;
    *width: 53.823343779925%;
  }
  .span10 .row .span5 {
    width: 44.642857142857%;
    *width: 44.597153303735%;
  }
  .span10 .row .span4 {
    width: 35.416666666667%;
    *width: 35.370962827544%;
  }
  .span10 .row .span3 {
    width: 26.190476190476%;
    *width: 26.144772351354%;
  }
  .span10 .row .span2 {
    width: 16.964285714286%;
    *width: 16.918581875163%;
  }
  .span10 .row .span1 {
    width: 7.7380952380952%;
    *width: 7.6923913989728%;
  }
  .span9 .row [class*="span"] {
    margin-left: 1.8248175182482%;
    *margin-left: 1.7791136791257%;
  }
  .span9 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span9 .row .span9 {
    width: 89.83606557377%;
    *width: 89.790361734648%;
  }
  .span9 .row .span8 {
    width: 79.672131147541%;
    *width: 79.626427308419%;
  }
  .span9 .row .span7 {
    width: 69.508196721311%;
    *width: 69.462492882189%;
  }
  .span9 .row .span6 {
    width: 59.344262295082%;
    *width: 59.298558455959%;
  }
  .span9 .row .span5 {
    width: 49.180327868852%;
    *width: 49.13462402973%;
  }
  .span9 .row .span4 {
    width: 39.016393442623%;
    *width: 38.9706896035%;
  }
  .span9 .row .span3 {
    width: 28.852459016393%;
    *width: 28.806755177271%;
  }
  .span9 .row .span2 {
    width: 18.688524590164%;
    *width: 18.642820751041%;
  }
  .span9 .row .span1 {
    width: 8.5245901639344%;
    *width: 8.4788863248119%;
  }
  .span8 .row [class*="span"] {
    margin-left: 2.0576131687243%;
    *margin-left: 2.0119093296018%;
  }
  .span8 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span8 .row .span8 {
    width: 88.686131386861%;
    *width: 88.640427547739%;
  }
  .span8 .row .span7 {
    width: 77.372262773723%;
    *width: 77.3265589346%;
  }
  .span8 .row .span6 {
    width: 66.058394160584%;
    *width: 66.012690321461%;
  }
  .span8 .row .span5 {
    width: 54.744525547445%;
    *width: 54.698821708323%;
  }
  .span8 .row .span4 {
    width: 43.430656934307%;
    *width: 43.384953095184%;
  }
  .span8 .row .span3 {
    width: 32.116788321168%;
    *width: 32.071084482045%;
  }
  .span8 .row .span2 {
    width: 20.802919708029%;
    *width: 20.757215868907%;
  }
  .span8 .row .span1 {
    width: 9.4890510948905%;
    *width: 9.443347255768%;
  }
  .span7 .row [class*="span"] {
    margin-left: 2.3584905660377%;
    *margin-left: 2.3127867269152%;
  }
  .span7 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span7 .row .span7 {
    width: 87.242798353909%;
    *width: 87.197094514787%;
  }
  .span7 .row .span6 {
    width: 74.485596707819%;
    *width: 74.439892868696%;
  }
  .span7 .row .span5 {
    width: 61.728395061728%;
    *width: 61.682691222606%;
  }
  .span7 .row .span4 {
    width: 48.971193415638%;
    *width: 48.925489576515%;
  }
  .span7 .row .span3 {
    width: 36.213991769547%;
    *width: 36.168287930425%;
  }
  .span7 .row .span2 {
    width: 23.456790123457%;
    *width: 23.411086284334%;
  }
  .span7 .row .span1 {
    width: 10.699588477366%;
    *width: 10.653884638244%;
  }
  .span6 .row [class*="span"] {
    margin-left: 2.7624309392265%;
    *margin-left: 2.716727100104%;
  }
  .span6 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span6 .row .span6 {
    width: 85.377358490566%;
    *width: 85.331654651444%;
  }
  .span6 .row .span5 {
    width: 70.754716981132%;
    *width: 70.70901314201%;
  }
  .span6 .row .span4 {
    width: 56.132075471698%;
    *width: 56.086371632576%;
  }
  .span6 .row .span3 {
    width: 41.509433962264%;
    *width: 41.463730123142%;
  }
  .span6 .row .span2 {
    width: 26.88679245283%;
    *width: 26.841088613708%;
  }
  .span6 .row .span1 {
    width: 12.264150943396%;
    *width: 12.218447104274%;
  }
  .span5 .row [class*="span"] {
    margin-left: 3.3333333333333%;
    *margin-left: 3.2876294942108%;
  }
  .span5 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span5 .row .span5 {
    width: 82.872928176796%;
    *width: 82.827224337673%;
  }
  .span5 .row .span4 {
    width: 65.745856353591%;
    *width: 65.700152514469%;
  }
  .span5 .row .span3 {
    width: 48.618784530387%;
    *width: 48.573080691264%;
  }
  .span5 .row .span2 {
    width: 31.491712707182%;
    *width: 31.44600886806%;
  }
  .span5 .row .span1 {
    width: 14.364640883978%;
    *width: 14.318937044855%;
  }
  .span4 .row [class*="span"] {
    margin-left: 4.2016806722689%;
    *margin-left: 4.1559768331464%;
  }
  .span4 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span4 .row .span4 {
    width: 79.333333333333%;
    *width: 79.287629494211%;
  }
  .span4 .row .span3 {
    width: 58.666666666667%;
    *width: 58.620962827544%;
  }
  .span4 .row .span2 {
    width: 38%;
    *width: 37.954296160878%;
  }
  .span4 .row .span1 {
    width: 17.333333333333%;
    *width: 17.287629494211%;
  }
  .span3 .row [class*="span"] {
    margin-left: 5.6818181818182%;
    *margin-left: 5.6361143426957%;
  }
  .span3 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span3 .row .span3 {
    width: 73.949579831933%;
    *width: 73.90387599281%;
  }
  .span3 .row .span2 {
    width: 47.899159663866%;
    *width: 47.853455824743%;
  }
  .span3 .row .span1 {
    width: 21.848739495798%;
    *width: 21.803035656676%;
  }
  .span2 .row [class*="span"] {
    margin-left: 8.7719298245614%;
    *margin-left: 8.7262259854389%;
  }
  .span2 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span2 .row .span2 {
    width: 64.772727272727%;
    *width: 64.727023433605%;
  }
  .span2 .row .span1 {
    width: 29.545454545455%;
    *width: 29.499750706332%;
  }
  .span1 .row [class*="span"] {
    margin-left: 19.230769230769%;
    *margin-left: 19.185065391647%;
  }
  .span1 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .span1 .row .span1 {
    width: 45.614035087719%;
    *width: 45.568331248597%;
  }
  .spanfirst {
    margin-left: 0 !important;
  }
}
.row .span50,
.row-fluid .span50 {
  width: 50%;
  float: left;
}
.row .span33,
.row-fluid .span33 {
  width: 33.3333%;
  float: left;
}
.row .span25,
.row-fluid .span25 {
  width: 25%;
  float: left;
}
.row .span20,
.row-fluid .span20 {
  width: 20%;
  float: left;
}
.row .span16,
.row-fluid .span16 {
  width: 16.6666%;
  float: left;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
@media (min-width: 768px) and (max-width: 979px) {
  .jumbotron {
    padding: 20px 0;
  }
  .jumbotron h1 {
    font-size: 28px;
  }
  .jumbotron p {
    font-size: 14px;
  }
  .masthead {
    padding: 40px 0;
  }
  .masthead h1 {
    font-size: 56px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-large {
    font-size: 16px;
    padding: 12px 16px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .jumbotron {
    padding: 20px 0;
  }
  .jumbotron h1 {
    font-size: 28px;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .masthead {
    padding: 20px 0;
  }
  .masthead h1 {
    font-size: 28px;
  }
  .masthead p {
    font-size: 16px;
  }
  .masthead .btn-large {
    font-size: 14px;
    padding: 12px 16px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
  }
  .navbar-collapse-fixed-top,
  .navbar-collapse-fixed-bottom {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-collapse-fixed-top .nav-collapse.in,
  .navbar-collapse-fixed-bottom .nav-collapse.in {
    position: fixed;
    width: 100%;
    overflow-y: auto;
    top: 40px;
    bottom: 0;
  }
  .navbar-collapse-fixed-top .nav-collapse.in > *,
  .navbar-collapse-fixed-bottom .nav-collapse.in > * {
    padding-bottom: 50px;
  }
  .navbar-collapse-fixed-bottom {
    bottom: 0;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .nav-collapse.in {
    top: 0;
    bottom: 40px;
  }
}
@media (max-width: 767px) {
  .t3-navhelper {
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-mainnav {
    background: #e6e6e6;
    border-top: 1px solid #d9d9d9;
    height: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-mainnav .navbar .btn-navbar {
    margin-bottom: 10px;
  }
  .t3-mainnav .navbar .btn-navbar:hover {
    cursor: pointer;
  }
  .t3-mainnav .nav-collapse {
    margin-top: 10px;
    background: #fff;
  }
  .t3-mainnav .nav-collapse .nav {
    margin: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a,
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .t3-mainnav .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a:hover {
    background-color: #666;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-top: 1px solid #d9d9d9;
    border-bottom: 0;
    font-weight: normal;
    padding: 10px 20px;
  }
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background-color: #666;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .t3-mainnav.navbar-collapse-fixed-top {
    margin-left: 0;
    margin-right: 0;
  }
  .t3-mainnav .navbar .nav > li > .dropdown-menu:before,
  .t3-mainnav .navbar .nav > li > .dropdown-menu:after,
  .t3-mainnav .navbar .nav > li > .dropdown-menu .divider {
    display: none;
  }
  .t3-mainnav .customization {
    display: none;
  }
}
@media (max-width: 599px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 1.25;
  }
  h1 small {
    font-size: 28px;
  }
  h2 {
    font-size: 21px;
    line-height: 1.25;
  }
  h2 small {
    font-size: 21px;
  }
  h3 {
    font-size: 17.5px;
    line-height: 1.25;
  }
  h3 small {
    font-size: 14px;
  }
  h4,
  h5,
  h6 {
    font-size: 14px;
    line-height: 1.25;
  }
  h4 small,
  h5 small,
  h6 small {
    font-size: 14px -2px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .logo {
    float: left !important;
    text-align: center;
    width: 100% !important;
  }
  .head-search {
    float: left !important;
    margin-top: 20px;
    margin-left: 0 !important;
    width: 100% !important;
  }
  .head-search form {
    float: none;
  }
  .head-search .input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
  }
  .head-search .input:focus {
    width: 100%;
  }
  .t3-sl {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .t3-footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-footnav {
    padding: 20px 20px 0;
    font-size: 12px;
  }
  .t3-footnav .module-title {
    font-size: 14px;
    font-weight: bold;
  }
  .t3-copyright {
    padding: 20px 20px 40px;
    *zoom: 1;
  }
  .t3-copyright:before,
  .t3-copyright:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .t3-copyright:after {
    clear: both;
  }
  .copyright,
  .poweredby {
    float: none;
    display: inline-block;
  }
  .poweredby {
    margin-top: 10px;
  }
}
